<button (click)="sincronizar()">Sincronizar</button>
<form>
    <input type="text" [(ngModel)]="pronostico.id" name="id" placeholder="ID">
    <input type="text" [(ngModel)]="pronostico.idApostador" name="idApostador" placeholder="ID Apostador">
    <input type="text" [(ngModel)]="pronostico.idEncuentroDeportivo" name="idEncuentroDeportivo" placeholder="ID Encuentro Deportivo">
    <input type="text" [(ngModel)]="pronostico.resultadoPropuesto" name="resultadoPropuesto" placeholder="Resultado Propuesto">
    <input type="number" [(ngModel)]="pronostico.valorApuesta" name="valorApuesta" placeholder="Valor Apuesta">
    <button (click)="new()">Nuevo</button>
    <button (click)="save()">Guardar</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ID Apostador</th>
        <th>ID Encuentro Deportivo</th>
        <th>Resultado Propuesto</th>
        <th>Valor Apuesta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pronostico of pronosticos">
        <td>{{ pronostico.id }}</td>
        <td>{{ pronostico.idApostador }}</td>
        <td>{{ pronostico.idEncuentroDeportivo }}</td>
        <td>{{ pronostico.resultadoPropuesto }}</td>
        <td>{{ pronostico.valorApuesta }}</td>
        <td>
          <button (click)="edit(pronostico)">Editar</button>
          <button (click)="delete(pronostico)" class="delete">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>